[submodule "Math-ias"]
	path = Math-ias
	url = https://github.com/mathiassoeholm/Math-ias
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git